.cart{
    position: sticky;
    top:0;
    padding: 30px 20px;
}

.location{
    display: flex;
    text-align: center;
}

.part-2{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2px;    
    background-color: aquamarine;
    line-height: 5px; 

}

.part-4{
    margin: 5px;
}